.bannerSection {
  background-color: var(--bg-dark-green);
  color: var(--bg-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.bannerTitle {
  font-family: "BebasNeue";
  font-size: 38px;
  line-height: 1.1;
}

.bannerDesc {
  max-width: 300px;
  font-size: 14px;
  text-align: justify;
}
