.experienceSection {
  background-color: var(--bg-dark-green);
  border-radius: 20px;
  padding: 80px;
  margin: -50px 80px 0;
}

.experienceTitle {
  font-family: "BebasNeue";
  font-size: 100px;
  color: var(--bg-beige);
  text-align: center;
  margin: 0;
}

.dividerLine {
  border-color: rgba(246, 238, 225, 0.5);
  margin: 30px 0;
}

.swiperContainerCustom {
  position: relative;
  max-width: 1330px;
  margin: auto;
}

.expCard {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  height: 430px;
  background: #fff;
}

.expImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 30px 20px;
  color: white;
}

.expOverlay h2 {
  font-size: 18px;
  margin: 0;
}
.expOverlay p {
  font-size: 14px;
  color: #d1d5db;
  margin: 5px 0 0;
}

@media (max-width: 767px) {
  .experienceSection {
    padding: 40px 20px;
    margin: 20px;
  }
  .experienceTitle {
    font-size: 55px;
  }
  .expCard {
    height: 390px;
  }
}
